<div class="login-container">
    <md-card class="login-box">
        <md-toolbar color="primary">Login</md-toolbar>
        <form class="login-form" (submit)="login()">
            <md-card-content>
                <div class="login-in-progress" *ngIf="loginInProgress">
                    <md-spinner></md-spinner>
                </div>

                <md-input placeholder="Username" name="username" [(ngModel)]="username"></md-input>
                <md-input type="password" placeholder="Password" name="password" [(ngModel)]="password"></md-input>
                <md-checkbox name="rememberMe" [(ngModel)]="rememberMe">Remember me</md-checkbox>
            </md-card-content>
            <md-card-actions>
                <button md-raised-button color="primary" [disabled]="loginInProgress">LOGIN</button>
            </md-card-actions>
        </form>
    </md-card>
</div>
