<md-sidenav-layout>
    <md-toolbar>
        Dashboard

        <span class="dashboard-toolbar-filler"></span>

        <md-menu #dashboardMenu="mdMenu">
            <button md-menu-item> Settings </button>
            <button md-menu-item (click)="logout()"> Logout </button>
        </md-menu>

        <button md-button [mdMenuTriggerFor]="dashboardMenu">
            Admin
            <md-icon>keyboard_arrow_down</md-icon>
        </button>
    </md-toolbar>

    <div class="dashboard-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-layout>
